.nav {
    grid-area: nav;
    background-color: cadetblue;
    border: 2px solid cadetblue;
}

.nav .nav_link{
    padding: 1rem 1.5rem;
    -webkit-transition: linear .3s;
    -moz-transition: linear .3s;
    -ms-transition: linear .3s;
    -o-transition: linear .3s;
    transition: linear .3s;
}

.nav .logo{
    text-align: center;
    padding: 2rem 0;
    margin: 0 auto;
    background: #fff;
    border-bottom: 2px solid cadetblue;
    font-size: 2rem;
    font-family: Impact;
}

.nav .nav_link:hover{
    background: #fff;
    cursor: pointer;
}