.nav{
    position: absolute;
    left: -220px;
    height: 100vh;
    background-color: #5f9ea0;
    width: 220px;
    z-index: 22;
    -webkit-transition: linear .2s;
    -moz-transition: linear .2s;
    -ms-transition: linear .2s;
    -o-transition: linear .2s;
    transition: linear .2s;

    .testSwipe{
        height: 100vh;
        position: absolute;
        right: -1.8rem;
        top: 0;
        content: ' ';
        width: 64px;
        z-index: 100;
    }

    a{
        text-decoration: none;
        color: #fff;
    }

    .myClassActive div{
        color: #fff;
        background: #3c6465;
    }

    .nav_link{
        padding: 1rem 1.5rem;
        -webkit-transition: linear .3s;
        -moz-transition: linear .3s;
        -ms-transition: linear .3s;
        -o-transition: linear .3s;
        transition: linear .3s;
        font-size: 1.5rem;

        a {
            text-decoration: none;
            color: darkred;

            :hover {
                color: #fff;
                background: #3c6465;
                cursor: pointer;
            }
        }
    }

    .buttonDiv{
        width: 30px;
        height: 30px;
        position: absolute;
        right: -2.7rem;
        top: 0;
        cursor: pointer;
        color: #fff;
        padding: 15px 0 0 10px;
        z-index: 200;
        -webkit-transition: linear .3s;
        -moz-transition: linear .3s;
        -ms-transition: linear .3s;
        -o-transition: linear .3s;
        transition: linear .3s;
    }


}



